<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CadEmpresa</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">

	<style>
		.body{
			background-color: #00e88f
		}

	</style>
</head>
<body>
	<section>
		<nav class="navbar navbar-dark bg-dark">
		  <a class="navbar-brand mr-auto" href="../home.html">
			<img src="logoDescohorizontal.png" style="padding-left: 10%;" width="300" height="45" >
		  </a>
		</nav>
	</section>
	<section class="body">
		<div class="row col-md-12">
			<div class="col-md-4"></div>
			<div class="col-md-4 cadastro">
				<form>
					<br>
					<h3>Etapa 1 - Cadastro da Empresa</h3>
					<div class="form-row">
					<div class="form-group col-md">
						<br>
						<label for="inputCNPJ">CNPJ:</label>
						<input type="text" class="form-control" id="inputCNPJ" placeholder="Digite o CNPJ">
					</div>
					<div class="form-group col-md">
						<br>
						<label for="inputNomeFantasia">Nome Fantasia:</label>
						<input type="text" class="form-control" id="inputNomeFantasia" placeholder="Digite o Nome Fantasia">
					</div>
					<br>
					<div class="form-group col-md">
						<label for="inputRazaoSocial">Razão Social:</label>
						<input type="text" class="form-control" id="inputRazaoSocial" placeholder="Digite a Razão Social">
					</div>
					<br>
					<div class="form-group">
					  	<label for="inputAddress">Endereço:</label>
					  	<input type="text" class="form-control" id="inputAddress" placeholder="Rua, nº 0">
					</div>
					<br>
					<div class="form-group">
					  <label for="inputAddress2">Complemento:</label>
					  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
					</div>
					<br>
					<div class="form-group">
						<label for="inputBairro">Bairro:</label>
						<input type="text" class="form-control" id="inputBairro" placeholder="Digite o Bairro">
					</div>
					<br>
					<div class="form-group col-md-6">
						<label for="inputCEP">CEP:</label>
						<input type="text" class="form-control" id="inputCEP" placeholder="Digite o seu CEP">
					</div>
					<br>
					<div class="form-group col-md-4">
						<label for="inputEstado">Estado:</label>
						<input type="text" class="form-control" id="inputEstado" placeholder="Digite o seu Estado">
					</div>
					<br>					  
					<div class="form-row">
					  <div class="form-group col-md-6">
						<label for="inputCity">Cidade:</label>
						<input type="text" class="form-control" id="inputCity" placeholder="Digite a sua cidade">
					</div>
					<br>
					<div class="form-group col-md-8">
						<label for="inputPais">País de Origem:</label>
						<input type="text" class="form-control" id="inputPais" placeholder="Digite o seu País de Origem">
					</div>
					<br>
					<div class="form-group">
					  	<label for="inputEmail">Email:</label>
					  	<input type="email" class="form-control" id="inputEmail" placeholder="Digite o Email">
					</div>
					<br><br>
					<div class="d-grid gap-2 col-6 mx-auto">
						<a class="btn btn-primary" href="CadDemanda.html" role="button">Enviar e Prosseguir</a>
					</div>
					<br><br>
				</form>								
			</div>
		</div>
	</section>

<!-- chamada do JS -->
<script type="text/javascript" src="views/js/bootrstrap.js"></script>
</body>
</html>

