<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cadastro Recusado!</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<!--login -->
<body class="bg-login">	
	<div class="container-fluid">	
		<div class="row col-md-12">
			<div class="col-md-4"></div>
			<div class="col-md-4 login">
				<h1 class="text-center text-primary"><img src="img/logoUni.png" ></h1>
					<div class="d-grid gap-2">
						<br>
				  		<h4>Cadastro nao realizado!!!</h4>
                        <h6>refaca o cadastro se o problema persistir entre em contato com o email: xxxxxx@gmail.com</h6>
						<br>
						<a href="CadEmpresa.html" class="btn bg-login btn-lg">Cadastrar demandas</a>
						<a href="../home.html" class="btn bg-login btn-lg">Inicio</a>
					</div>
			<div class="col-md-4"></div>
		</div>
	</div>

<!-- chamada do JS -->
<script type="text/javascript" src="views/js/bootrstrap.js"></script>

</body>
</html>