<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cadastro realizado!</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<!--login -->
<body class="bg-login">	
	<div class="container-fluid">	
		<div class="row col-md-12">
			<div class="col-md-4"></div>
			<div class="col-md-4 login">
				<h1 class="text-center text-primary" href="../home.html"><img src="img/logoUni.png"> </h1>
					<div class="d-grid gap-2">
						<br>
				  		<h4>Cadastro realizado com Sucesso!!!</h4>
						<a href="../projetotesteanderson.html" class="btn bg-login btn-lg">Ver Status Demandas</a>
						<a href="../home.html" class="btn bg-login btn-lg">Inicio</a>
					</div>
			<div class="col-md-4"></div>
		</div>
	</div>

<!-- chamada do JS -->
<script type="text/javascript" src="views/js/bootrstrap.js"></script>

</body>
</html>